/* 

  selector {

    propiedad1: valor1;

    propiedad2: valor2;
    .
    .
    .
    propiedadN: valorN;
    
  }

*/


/* CASCADA */

/* div {
  height: 200px;
  background-color: aqua;
}

div {
  height: 200px;
  background-color: yellow;
}

div {
  height: 200px;
  background-color: red;
} */

/* 

  ESPECIFICIDAD

  id > class > tags

*/

/* #bContainerId {
  height: 200px;
  background-color: black;
}

div {
  height: 200px;
  background-color: blue;
}

.bContainerClass {
  height: 200px;
  background-color: yellow;
} */


/* SELECTORES AVANZADOS */

/* 
  selector1 selector2 -> seleccionando a todos los elementos
  con el selector2, que esten dentro de algun elemento con el 
  selector1

*/

/* #container p {
  color: red;
} */

/* .classA.classB {
  height: 200px;
  background-color: chartreuse;
} */

/* div, p {
  color: blue;
}  */


/* EJEMPLOS PROPIEDADES */

/* 1rem = 16px */

/* .pExample {

  color: #7209b7; 

  font-size: 2rem;

  font-family: sans-serif;

  text-align: center;

  text-decoration: underline;

  text-transform: uppercase;

}  */

/* .divExampleWithBorders {

  height: 200px;

  width: 400px;

  border: 1px solid;

}

.pixExample {

  height: 50px;

  width: 600px;
  
  border: 1px solid;

  background-color: #ffafcc;

}

.perExample {

  height: 50px;

  width: 50%;

  border: 1px solid;

  background-color: #bde0fe;

}

.vwExample {

  height: 50px;

  width: 50vw;

  border: 1px solid;

  background-color: #b9fbc0;

} */

/* .bordersPaddingsMargins {

  height: 250px;

  width: 500px;

  border: 2px solid;

  margin-top: 100px;

  margin-left: 100px;

  padding-left: 20px;

  padding-top: 20px;

}

.bordersPaddingsMargins p {
  border: 1px solid;
} */