<<<<<<< HEAD
* {
  
  background-color: #e5e5e5;
  
  font-family: 'Poppins', sans-serif;
  
  scroll-behavior: smooth;
  
}

body {

  height: 300vh;

}

/* HEADER */

=======
/* HEADER */

* {

  background-color: #e5e5e5;

  font-family: 'Poppins', sans-serif;

  scroll-behavior: smooth;

}

>>>>>>> d83609510dfd06831e271e068c98b20b70dc9aef
.css-logo {

  width: 4rem;

  height: 4rem;

}

.main-title {

  display: inline;

  color: #000000;

<<<<<<< HEAD
  font-size: 2rem;

=======
>>>>>>> d83609510dfd06831e271e068c98b20b70dc9aef
}

.navbar {

  display: inline;

  margin-left: 6rem;

}

.navbar-item {

  text-decoration: none;

  color: #000000;

  margin: 0 1rem;

}

/* TIPOS */

#tipos {

  margin-top: 5rem;

}

#tipos h2 {

  color: #000000;

}

#tipos h3 {

  color: #000000;

}

.block-example {

  height: 5rem;

  background-color: #14213d;

  color: #e5e5e5;

}

#tipos input {

  background-color: #ffffff;

}

#tipos button {

  background-color: #ffffff;

}

.box {

  display: inline-block;

  width: 6rem;

  height: 6rem;

  background-color: #fca311;

  margin-right: 3rem;

}

/* DISPLAY */

#display {

  margin-top: 5rem;

}

#display h2 {

  color: #000000;

}

#display h3 {

  color: #000000;

}

.block-btn {
<<<<<<< HEAD
  
  display: block;

=======

  display: block;
  
>>>>>>> d83609510dfd06831e271e068c98b20b70dc9aef
}

.display-inline {

  height: 5rem;

  background-color: #fca311;

  color: #000000;

  display: inline;

<<<<<<< HEAD
}

/* POSITION */

#position {

  margin-top: 5rem;

}

.box.relative {

  position: sticky;

  left: 300px;

  top: 0;

  margin-right: 0;

}

.box.fixed {

  position: fixed;

  right: 0;

  bottom: 0;

  z-index: 3;

  margin-right: 0;

}

.container {

  background-color: #14213d;

  height: 200px;

  position: relative;

  color: #e5e5e5;

}

.box.absolute {

  position: absolute;

  right: 0;

  bottom: 0;

  margin-right: 0;


}

.box.sticky {

  position: sticky;

  bottom: 0;
  
=======
>>>>>>> d83609510dfd06831e271e068c98b20b70dc9aef
}